.navbar {
    position: sticky;
    top: 0;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(33.333% - 20px);
}

.card:hover {
    transform: translateY(-5px);
    transition: 0.3s ease;
}

h2 {
    color: #3f51b5;
}


.dashboard {
    padding: 20px;
    font-family: Arial, sans-serif;
}

h2 {
    color: #3f51b5;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

th,
td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f4f4f4;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}
.navigation-buttons {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:first-child {
    background-color: #f44336;
    /* Red for Back */
    color: white;
}

button:last-child {
    background-color: #4caf50;
    /* Green for Next */
    color: white;
}

button:hover {
    opacity: 0.9;
}