.myheader {
    font-size: 25px;
    color: red;
    text-align: center;
}

.mydata {
    font-size: 20px;
    margin-left: 100px;
    padding-left: 10px;
}

ul {
    list-style: circle;
    } 
table{ 
 width:100%; 
 border:1px solid lightblue; 
 border-collapse: collapse; 
} 
tr,td,th{ 
 border:1px solid lightblue; 
 border-collapse: collapse; 
 text-align: center; 
 line-height: 2.5em; 
} 
th{ 
 background-color: teal; 
} 
.mybutton{ 
 font-size:20px; 
 color:white; 
 background-color: teal; 
} 